{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
		    <div class="col-sm-12">
                <hr>
			    <h2 class="logo-font text-center">Shopping Bag</h2>
			    <hr>
		    </div>
	    </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="">
                                            {% csrf_token %}
                                            <div class="form-group w-75">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"     value="{{ quantity }}" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">0.00</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <h5 class="text-center">Your bag is empty</h5>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}